/* Contact.module.css */

.contactHero {
  margin-top: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/heroContact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

.contactHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}

.contactHero > * {
  position: relative;
  z-index: 2;
}

.contactHeroTextHeader {
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  z-index: 10;
}

.contactHeroSubTextHeader {
  font-size: var(--font-size-md);
  text-align: center;
  max-width: 768px;
  margin-bottom: 1rem;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  z-index: 10;
}

.main .phone {
  display: flex;
  align-items: center;
  margin: 12px 0 12px 0;
  font-family: "Manrope", sans-serif;
  column-gap: 16px;
  color: var(--primary-color);
  font-size: var(--font-size-md);
}
.main .wrapper {
  margin-top: 48px;
  margin-bottom: 48px;
}

.main .wrapper form {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-base);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  row-gap: 32px;
}

.main .wrapper form .selectContainer {
  display: block;
  color: var(--gray-color);
}

.main .wrapper form .selectContainer span {
  font-size: var(--font-size-sm);
}

.main .wrapper form .selectContainer select {
  color: var(--paragraph-font-color);
  background-color: var(--background-color);
  padding: 12px 16px;
  border: none;
  border-bottom: 2px solid var(--gray-color);
  width: 100%;
  box-sizing: border-box;
}

.main .wrapper form .selectContainer select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.main .wrapper form button {
  border-radius: 8px;
  padding: 12px 16px;
  color: var(--white);
  background-color: var(--primary-color);
  transition: background-color 0.2 ease-in;
  margin-top: auto;
}

.main .wrapper form button:hover {
  cursor: pointer;
  background-color: var(--primary-button-hover-color);
}

.main .wrapper {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 72px;
  width: 100%;
}

.clinicInfoContainer {
  display: flex;
  justify-content: space-between;
}

.workhoursTable {
  width: 100%;
  border-collapse: collapse;
}

.workhoursTable th,
.workhoursTable td {
  display: table-cell;
  text-align: left;
  padding: 12px 32px 12px 0;
}

.workhoursTable th {
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-base);
  font-weight: 400;
  text-align: left;
  color: var(--primary-color);
}

.workhoursTable td {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-base);
  color: var(--primary-font-color);
}

.clinicInfoContainer .contactInfoWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  font-family: "Manrope";
  color: var(--primary-font-color);
}

.contactInfoTextHeader {
  font-size: var(--font-size-lg);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.clinicInfoContainer .contactInfoWrapper .addressWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.clinicInfoContainer .contactInfoWrapper .addressWrapper div,
.clinicInfoContainer .contactInfoWrapper .addressWrapper div a {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.clinicInfoContainer .contactInfoWrapper .socialWrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.clinicInfoContainer .contactInfoWrapper .socialWrapper a {
  display: flex;
  align-items: center;
  column-gap: 4px;
  transition: color 0.3 ease-in;
}

.clinicInfoContainer .contactInfoWrapper .socialWrapper a:hover {
  color: var(--primary-color);
}

.clinicInfoContainer .contactInfoWrapper .socialWrapper svg,
.clinicInfoContainer .contactInfoWrapper .addressWrapper div svg {
  width: 24px;
  height: 24px;
  fill: var(--gray-color);
  transition: fill 0.3s ease;
}

.clinicInfoContainer .contactInfoWrapper .addressWrapper div a:hover svg,
.clinicInfoContainer .contactInfoWrapper .socialWrapper a:hover svg {
  fill: var(--primary-color);
}

.clinicInfoContainer .contactInfoWrapper .addressWrapper div a:hover {
  color: var(--primary-color);
}

/* Tablet Devices and more larger screens. */
@media (min-width: 425px) and (max-width:992px) {
  .main .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 72px;
    width: 100%;
    flex-direction: column;
  }

  .clinicInfoContainer {
    flex-direction: column;
    row-gap: 32px;
  }

  .clinicInfoContainer .contactInfoWrapper .addressWrapper div svg {
    display: none;
  }
  .clinicInfoContainer .contactInfoWrapper .socialWrapper svg {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .workhoursTable {
    margin-bottom: 24px;
  }

}

/* Mobile Devices */
@media (max-width: 425px) {
  .main .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 72px;
    width: 100%;
    flex-direction: column;
  }

  .clinicInfoContainer {
    flex-direction: column;
    row-gap: 32px;
  }

  .clinicInfoContainer .contactInfoWrapper .addressWrapper div svg {
    display: none;
  }
  .clinicInfoContainer .contactInfoWrapper .socialWrapper svg {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .workhoursTable {
    margin-bottom: 24px;
  }
}
