/* Treatments.module.css */

.main {
  margin-top: 0 !important;
}

/* --- Structural Parts --- */
.textHeader {
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
}

/* --- Hero Section --- */
.treatmentsHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/treatments.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

.treatmentsHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.treatmentsHero > * {
  position: relative;
  z-index: 2;
}

.textHeaderHero {
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
  color: var(--white);
  z-index: 10;
}

.subTextheaderHero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--font-size-md);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
  color: var(--white);
}

/* --- Steps Section --- */
.stepsContainer {
  margin: 64px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
}

.stepsHeader {
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
  color: var(--primary-color);
}

.stepsSubheader {
  font-size: var(--font-size-base);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 300;
  max-width: 768px;
  margin: auto;
  color: var(--gray-color);
}

.stepsContainer article h4 {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: var(--font-size-md);
  font-weight: 500;
  margin-top: 0.5rem;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

.stepsContainer article p {
  font-size: var(--font-size-base);
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-top: 0.5rem;
  color: var(--paragraph-font-color);
  font-family: "Raleway", sans-serif;
}

/* --- Treatments Section --- */
.treatmentsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
  margin-bottom: 72px;
}

.treatmentsContainer article {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.treatmentsContainer figure {
  position: relative;
}

.treatmentsContainer picture {
  display: block;
  height: 256px;
}

.treatmentsContainer article figure picture img {
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.treatmentsContainer article figure picture img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.treatmentsContainer article span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--white);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: 8px;
}

/* --- Mobile Devices --- */
@media (max-width: 768px) {
  .textHeader {
    font-size: var(--font-size-lg);
  }

  .treatmentsContainer {
    grid-template-columns: 1fr;
  }

  .textHeaderHero {
    font-size: var(--font-size-lg);
  }

  .subTextheaderHero {
    font-size: var(--font-size-base);
  }
  .stepsHeader {
    font-size: var(--font-size-lg);
  }
}
