/* Pagination.module.css */
.paginationContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
}

.pageButton {
  margin: 0 8px;
  padding: 12px 16px;
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px var(--box-shadow);
  color: var(--primary-font-color);
}

.pageButton:hover {
  background-color: var(--gray-color);
  color: var(--white);
  border: 1px solid var(--gray-color);
}

.activePage {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Tablets and below */
@media (max-width: 768px) {
  .pageButton {
    margin: 0 3px;
    padding: 8px 12px;
    font-size: 14px;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  .paginationContainer {
    flex-wrap: wrap;
    gap: 5px;
  }

  .pageButton {
    margin: 2px 2px;
    padding: 6px 10px;
    font-size: var(--font-size-sm);
  }
}
